PROJECT_NAME="TechHub Payment Service"
API_V1_STR="/api/v1"
ENV="development"
LOG_LEVEL="INFO"
DATABASE_URL="postgresql://postgres:postgres@db:5432/techhub_payments"
SECRET_KEY="8810df66a3ea68a8dc4e7a8848f02931a54160de4698de29b222959828d9c6c5"
ALGORITHM="HS256"
ORDER_SERVICE_URL="http://order-service:8000"
