PROJECT_NAME="TechHub Order Service"
API_V1_STR="/api/v1"
ENV="development"
LOG_LEVEL="INFO"
DATABASE_URL="postgresql://postgres:postgres@db:5432/techhub_orders"
SECRET_KEY="8810df66a3ea68a8dc4e7a8848f02931a54160de4698de29b222959828d9c6c5"
ALGORITHM="HS256"
PRODUCT_SERVICE_URL="http://product-service:8000"
INVENTORY_SERVICE_URL="http://inventory-service:8000"
